
body {
	color: #ffeedd;
}

.lazy {
	color: green;
}

.w6, .md .md-w6, .lg .lg-w6 {
	width: 50%;
}

h1 {
	content: url("data:image/jpeg;base64,iRxVB0");

	offset-path: url(#path);

	src: url('data:font/woff;base64,d09GRg')
}

