name: Test
on: [ push, pull_request, workflow_dispatch ]
jobs:
  Coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v5
    - run: npm install --no-audit && npm install -g uglify-js
    - run: npm audit --audit-level=low
    - run: npx c8 -r lcovonly -r text npm test
    - run: npx lj lint
    - uses: coverallsapp/github-action@v2
      name: Upload to coveralls.io
      with:
        github-token: ${{ github.token }}
  Analyze:
    uses: litejs/.github/.github/workflows/analyze.yml@main
  Release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: [Analyze, Coverage]
    uses: litejs/.github/.github/workflows/release.yml@main
    secrets: inherit

